version: '3.8'
services:
  gateway:
    deploy:
      replicas: 1
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 3
        window: 20s
      update_config:
        parallelism: 1
        order: start-first
        delay: 10s
      rollback_config:
        parallelism: 1
        delay: 10s
        order: start-first
    image: {{ registry_url }}/gateway:{{ gateway_version }}
    ports:
      - {{ gateway_port }}:5001
    volumes:
      - {{ data_dir }}:/data
    networks:
       - main_app_{{ deploy_color}}
    environment:
      - EMB_SERVING_URL={{ emb_serving_url }}
      - CENTROIDS_PATH=/data/generation/{{ data_gen_version }}/centroids.pkl
      - KNN_WORKER_HOST={{ knn_worker_swarm_host }}
      - KNN_WORKER_ENDPOINT=/kneighbors
      - KNN_WORKER_START_PORT={{ knn_worker_start_port }}

  # здесь мы рендерим отдельный сервис под каждый кластер данных, это дает нам возможность делать масштабировать воркеры
  {% for i in range(clusters_num) %}

  knn_worker_{{ i }}:
    deploy:
      replicas: 1
        # placement:
        #   max_replicas_per_node: 1
        #   constraints: "node.name==NODE_NAME_HERE"
        # Пока закомментил для теста, ибо у нас всего 2 ноды.
        # Вариант с constraints: node.name по мне, более контролируемый и надежный, чем max_replicas_per_node
      restart_policy:
        condition: any
        delay: 10s
        max_attempts: 3
        window: 20s
      update_config:
        parallelism: 1
        order: start-first
        delay: 10s
      rollback_config:
        parallelism: 1
        delay: 10s
        order: start-first
    image: {{ registry_url }}/knn_worker:{{ knn_worker_version }}
    ports:
      - {{ knn_worker_start_port + i }}:5001
    volumes:
      - {{ data_dir }}:/data
    networks:
      - main_app_{{ deploy_color}}
    environment:
      - DATA_PATH=/data/generation/{{ data_gen_version }}/cluster/{{ i }}/embs.pkl
  {% endfor %}

networks:
  main_app_{{ deploy_color}}: